<div>
  <p class="mat-title">Parks Home Page</p>
  <mat-form-field appearance="outline">
    <mat-label>Search for national parks by state</mat-label>

    <input  matInput
            type="text"
            name="Search"
            placeholder="State"
            (keydown)="parks.filterParks()"
            [formControl]="search">
  </mat-form-field>

  <mat-checkbox
    [formControl]="useQueryParams"
    class="checkbox">
    Test with Query Params
  </mat-checkbox>

  <app-parks
    [search]="search.value"
    [useQueryParams]="queryParams">
  </app-parks>
</div>
